.heroWrapper {
    background-image: url('./HeroAssets/Cross_Flag.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlayWrapper {
    background-color: rgba(44, 70, 89, 0.9);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroFlag {
    width: 250px;
    height: auto;
}